# Keil MDK-ARM specific files
*.uvguix.*
*.uvoptx
*.__i
*.crf
*.d
*.o
*.lst
*.map
*.axf
*.htm
*.lnp
*.sct
*.dep
*.bak
*.ddk
*.edk
*.lst
*.iex
*.hex

# Build directories
Objects/
Listings/
RTE/
DebugConfig/

# User settings
JLinkSettings.ini
*.Administrator

# OS specific
.DS_Store
Thumbs.db
